@import '../../variables';

.container-data {
  font-family: 'Futura';
  padding: $base*7 $base*4 $base*10 $base*4;
  background-color: $background-color;
  height: 100vh;
  color: $six-color;
  font-size: 18px;
  .link-modify {
    margin-top: $base*4;
    a {
      font-size: 18px;
      text-decoration: underline;
    }
  }
  input::placeholder {
    font-family: 'Futura';
    font-size: 18px;
  }
  button {
    margin-top: $base*8;
  }
}