@import '../../variables';

.container-data {
  font-family: 'Futura';
  padding: $base*7 $base*4 $base*10 $base*4;
  background-color: $background-color;
  height: 100vh;
  color: $six-color;
  font-size: 18px;
  width: 40%;
  margin: 0 auto;
  form {
    p {
      margin-bottom: $base;
    }
  }
  .link-modify {
    margin-top: $base*4;
    a {
      font-size: 18px;
      text-decoration: underline;
    }
  }
  input::placeholder {
    font-family: 'Futura';
    font-size: 18px;
  }
  button {
    margin: $base*2 0 $base*8 0;
  }
  .delete-button {
    margin-top: $base*2;
  }
}

@media screen and (max-width: 768px) {
  .container-data { 
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .container-data { 
    width: 100%;
  }
}