@import '../../variables';

@media screen and (max-width: 1280px) {
  .container-web {
    margin: 0;
    font-family: 'Futura';
    line-height: 30px;
    font-size: 22px;
    padding: 0;
    max-width: 100%;
    background-image: url('./../../images/fondo.png');
    background-repeat: no-repeat;
    background-position: center;
    padding-top: $base*8;
    .content-1 {
      color: $light-color;
      h2 {
        font-family: 'Futura-Bold';
        font-size: 32px;
        margin-bottom: $base;
        line-height: 41px;
        color: $light-color!important;
      }
      .info {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
        color: $light-color;
      }
    }
    .link-button {
      background: $fifth-color;
      border-radius: 4px;
      font-size: 16px;
      text-align: center;
      padding: $base*2;
      border: none;
      font-family: 'Futura';
      cursor: pointer;
      outline: none;
      margin-top: $base;
      width: 30%;
      a {
        color: $light-color!important;
        font-size: 16px;
      }
      &.color {
        background-color: #F98728;
      }
    }
    .text {
      width: 50%;
      line-height: 24px;
    }
    .content-2 {
      .info {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $light-color;
        width: 60%;
        margin: 0 auto;
        text-align: left;
        padding: $base*8 0 $base*4 0;
      }
      h3 {
        font-size: 40px;
        line-height: 40px;
        color: $light-color!important;
        font-family: 'Futura-Bold';
        margin-bottom: $base*5;
      }
      ul {
        list-style-type: none;
        padding: 0;
        li {
          display: flex;
          align-items: center;
          line-height: 32px;
          &.sport::before {
            content: '';
            background-image: url('../../images/sport.png');
            display: block;
            width: 32px;
            height: 18px;
            background-size: contain;
            background-repeat: no-repeat;
          }
          &.food::before {
            content: '';
            background-image: url('../../images/food.png');
            display: block;
            width: 32px;
            height: 18px;
            background-size: contain;
            background-repeat: no-repeat;
          }
          &.health::before {
            content: '';
            background-image: url('../../images/health.png');
            display: block;
            width: 32px;
            height: 18px;
            background-size: contain;
            background-repeat: no-repeat;
          }
          &.sex::before {
            content: '';
            background-image: url('../../images/sex.png');
            display: block;
            width: 32px;
            height: 18px;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }
      .image-mobile {
        background-image: url('../../images/mobile.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 650px;
        width: 330px;
        margin: 0 auto;
      }
    }
  }

  .content-3 {
    // background: $primary-color;
    color: $light-color;
    .info {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: $light-color;
      width: 60%;
      margin: 0 auto;
      padding: $base*10 0;
    }
    h3 {
      font-size: 40px;
      line-height: 40px;
      color: $light-color!important;
      font-family: 'Futura-Bold';
      margin-bottom: $base*5;
    }
    .text {
      margin-top: 40px;
      width: 100%;
    }
  }

  .content-4 {
    // background-color: $secondary-color;
    color: $light-color;
    .info {
      width: 60%;
      margin: 0 auto;
      padding: $base*10 0 $base*10 0;
      .text {
        width: 100%;
        line-height: 24px;
        color: $light-color;
      }
      h2 {
        font-size: 40px;
        line-height: 40px;
        color: $light-color!important;
        font-family: 'Futura-Bold';
        margin-bottom: $base*5;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .container-web {
    font-family: 'Futura';
    font-size: 18px;
    line-height: 18px;
    max-width: 100%;
    .content-1 {
      h2 {
        font-size: 26px;
        line-height: 26px;
      }
      .info {
        width: 60%;
        margin-top: $base*2;
      }
    }
    .link-button {
      font-size: 16px;
      text-align: center;
      margin-top: $base*4;
      padding: $base*1.5;
      width: 100%;
      a {
        font-size: 14px;
      }
      &.color {
        background-color: #F98728;
      }
    }
    .text {
      width: 50%;
      line-height: 24px;
    }
    .content-2 {
      .info {
        display: flex;
        width: 60%;
        padding-top: $base*10;
        p {
          line-height: 30px;
          font-size: 22px;
        }
      }
      h3 {
        font-size: 40px;
        line-height: 45px;
        margin-bottom: $base*4;
      }
    }
  }

  .content-3 {
    .info {
      width: 60%;
      padding: $base*6 0;
    }
    h3 {
      font-size: 40px;
      line-height: 45px;
      margin-bottom: $base*4;
    }
    .text {
      margin-top: 40px;
      width: 100%;
    }
  }

  .content-4 {
    .info {
      width: 60%;
      padding: $base*10 0 $base*10 0;
      .text {
        width: 100%;
        line-height: 24px;
      }
      h2 {
        font-size: 40px;
        line-height: 45px;
        margin-bottom: $base*4;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container-web {
    padding-top: $base*14;
    background-size: cover;
    line-height: 30px;
    font-size: 22px;
    .text {
      line-height: 30px;
      font-size: 22px;
      width: auto;
    }
    .header {
      padding: $base*2 $base*4 $base*3 $base*4;
    }
    .content-1 {
      h2 {
        font-family: 'Futura-Bold';
        font-size: 32px;
        line-height: 36px;
      }
      .info {
        width: 80%;
        padding: $base 0;
      }
      .rectangle {
        height: 150px;
      }
    }
    .content-2 {
      text-align: left;
      margin-top: $base;
      ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        line-height: 30px;
        font-size: 22px;
        padding-top: $base*3;
      }
      .info {
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 30px;
        font-size: 22px;
        padding-top: $base*12;
      }
      h3 {
        font-family: 'Futura-Bold';
        font-size: 32px;
        line-height: 36px;
        margin-bottom: $base*3;
      }
    }
    .content-3 {
      text-align: left;
      .info {
        width: 80%;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: $base*30 0 $base*5 0;
        h3 {
          font-family: 'Futura-Bold';
          font-size: 32px;
          line-height: 36px;
          margin-bottom: $base*3;
        }
        p {
          margin-bottom: 0;
          line-height: 30px;
          font-size: 22px;
        }
      }
    }
    .content-4 {
      padding-top: $base*4;
      .text {
        padding-bottom: $base*8;
        p {
          line-height: 30px;
          font-size: 22px;
        }
        .link-button {
          margin: $base*4 auto 0 auto;
        }
      }
      .info {
        width: 80%;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: $base*10;
        text-align: left;
        line-height: 30px;
        font-size: 22px;
      }
      h2 {
        font-family: 'Futura-Bold';
        font-size: 32px;
        line-height: 36px;
      }
    }
  }
}