@import '../../variables';

@media screen and (max-width: 1280px) {
  .container-web {
    margin: 0;
    font-family: 'Futura';
    font-size: 22px;
    line-height: 28px;
    padding: 0;
    max-width: 100%;
    .content-1 {
      background: $primary-color;
      color: $light-color;
      h2 {
        font-family: 'Futura-Bold';
        font-size: 54px;
        margin-bottom: $base*6;
        line-height: 54px;
        color: $light-color!important;
      }
      .info {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
        color: $light-color;
        padding: $base*8 0;
      }
    }
    .link-button {
      background: $fifth-color!important;
      border-radius: 4px;
      font-size: 16px;
      text-align: center;
      padding: $base;
      border: none;
      font-family: 'Futura';
      cursor: pointer;
      outline: none;
      margin-top: $base*3;
      width: 30%;
      margin-top: $base*5;
      &.small {
        width: 50%;
      }
      a {
        color: $light-color!important;
        font-size: 16px;
      }
    }
    .text {
      width: 50%;
      line-height: 24px;
    }
    .content-2 {
      background-color: $secondary-color;
      padding-bottom: $base*5;
      .info {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $light-color;
        width: 60%;
        margin: 0 auto;
        text-align: left;
        padding: $base*8 0 $base*4 0;
      }
      h3 {
        font-size: 40px;
        line-height: 40px;
        color: $light-color!important;
        font-family: 'Futura-Bold';
        margin-bottom: $base*5;
      }
      ul {
        list-style-type: none;
        padding: 0;
        li {
          display: flex;
          align-items: center;
          line-height: 32px;
          &.sport::before {
            content: '';
            background-image: url('../../images/sport.png');
            display: block;
            width: 32px;
            height: 18px;
            background-size: contain;
            background-repeat: no-repeat;
          }
          &.food::before {
            content: '';
            background-image: url('../../images/food.png');
            display: block;
            width: 32px;
            height: 18px;
            background-size: contain;
            background-repeat: no-repeat;
          }
          &.health::before {
            content: '';
            background-image: url('../../images/health.png');
            display: block;
            width: 32px;
            height: 18px;
            background-size: contain;
            background-repeat: no-repeat;
          }
          &.sex::before {
            content: '';
            background-image: url('../../images/sex.png');
            display: block;
            width: 32px;
            height: 18px;
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }
      .image-mobile {
        background-image: url('../../images/mobile.png');
        background-size: contain;
        width: 50%;
        height: 400px;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  .content-3 {
    background: $primary-color;
    color: $light-color;
    .info {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: $light-color;
      width: 60%;
      margin: 0 auto;
      padding: $base*10 0;
    }
    h3 {
      font-size: 40px;
      line-height: 40px;
      color: $light-color!important;
      font-family: 'Futura-Bold';
      margin-bottom: $base*5;
    }
    .text {
      margin-top: 40px;
      width: 100%;
    }
  }

  .content-4 {
    background-color: $secondary-color;
    color: $light-color;
    .info {
      width: 60%;
      margin: 0 auto;
      padding: $base*10 0 $base*10 0;
      .text {
        width: 100%;
        line-height: 24px;
        text-align: center;
        color: $light-color;
      }
      h2 {
        font-size: 40px;
        line-height: 40px;
        color: $light-color!important;
        font-family: 'Futura-Bold';
        margin-bottom: $base*5;
      }
      .link-button {
        &.small {
          margin: 0 auto;
        } 
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .container-web {
    font-family: 'Futura';
    font-size: 18px;
    line-height: 18px;
    max-width: 100%;
    .content-1 {
      h2 {
        font-size: 40px;
        margin-bottom: $base*4;
        line-height: 45px;
      }
      .info {
        width: 60%;
        padding-top: $base*8;
      }
    }
    .link-button {
      font-size: 16px;
      text-align: center;
      padding: $base*2;
      margin-top: $base*3;
      width: 50%;
      &.small {
        width: 70%;
      }
      a {
        font-size: 16px;
      }
    }
    .text {
      width: 50%;
      line-height: 24px;
    }
    .content-2 {
      padding-bottom: $base*5;
      .info {
        display: flex;
        width: 60%;
        padding-top: $base*2;
      }
      h3 {
        font-size: 40px;
        line-height: 45px;
        margin-bottom: $base*4;
      }
      .image-mobile {
        width: 50%;
        height: 400px;
      }
    }
  }

  .content-3 {
    .info {
      width: 60%;
      padding: $base*6 0;
    }
    h3 {
      font-size: 40px;
      line-height: 45px;
      margin-bottom: $base*4;
    }
    .text {
      margin-top: 40px;
      width: 100%;
    }
  }

  .content-4 {
    .info {
      width: 60%;
      padding: $base*10 0 $base*10 0;
      .text {
        width: 100%;
        line-height: 24px;
      }
      h2 {
        font-size: 40px;
        line-height: 45px;
        margin-bottom: $base*4;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container-web {
    font-size: 16px;
    line-height: 18px;
    .text {
      line-height: 18px;
      width: auto;
    }
    .header {
      padding: $base*2 $base*4 $base*3 $base*4;
    }
    .content-1 {
      h2 {
        font-family: 'Futura-Bold';
        font-size: 25px;
        line-height: 30px;
      }
      .info {
        width: 80%;
        padding: $base*3 0;
      }
      .rectangle {
        height: 150px;
      }
    }
    .content-2 {
      padding-bottom: 160px;
      margin-top: -2px;
      position: relative;
      ul {
        list-style-type: none;
        padding: 0 0 0 $base*10;
        display: flex;
        flex-direction: column;
      }
      .info {
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: $base*4;
      }
      h3 {
        font-family: 'Futura-Bold';
        font-size: 25px;
        line-height: 30px;
        margin-bottom: $base*3;
      }
      .image-mobile {
        position: absolute;
        position: absolute;
        top: 280px;
      }
    }
    .content-3 {
      .info {
        text-align: center;
        width: 80%;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: $base*32 0 $base*5 0;
        h3 {
          font-family: 'Futura-Bold';
          font-size: 24px;
          line-height: 24px;
          text-align: center;
          margin-bottom: $base*3;
        }
        p {
          margin-bottom: 0;
        }
      }
    }
    .content-4 {
      padding-top: $base*4;
      .text {
        padding-bottom: $base*8; 
        .link-button {
          margin: $base*4 auto 0 auto;
        }
      }
      .info {
        text-align: center;
        width: 80%;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
      }
      h2 {
        font-family: 'Futura-Bold';
        font-size: 25px;
        line-height: 30px;
        
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container-web {
    .link-button {
      width: 100%;
      font-size: 14px;
      padding: $base*1.3 $base;
      &.small {
        width: 100%;
        font-size: 14px;
      }
    }
    .content-1 {
      .rectangle {
        height: 50px;
      }
    }
    .content-2 {
      .image-mobile {
        top: 360px;
      }
    }
  }
}