@import '../../variables';

.pagination-days {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding: $base*1.5 $base $base*1.5 $base;
  background-color: $background-color;
  .fadeOut{
    opacity:0.5;
    width:45px;
    height:45px;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
  }
  .fadeIn{
    opacity:1;
    width:45px;
    height:45px;
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
  }
  .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: $six-color;
    font-size: 15px;
    position: relative;
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    .cicle-days {
      font-size: 10px;
      position: absolute;
      top: 0;
    }
    .cicle-month {
      font-size: 10px;
      position: absolute;
      bottom: 0;
    }
    &.period {
      color: $fifth-color;
    }
    &.active {
      background-color: $fifth-color;
      color: $light-color;
    }
  }
}