@import '../../variables';

.home-container {
  background-color: $background-color;
  .content {
    width: 50%;
    margin: 0 auto;
    background-color: $background-color;
    .ant-card-bordered {
      background-color: $light-color;
      border: 1px solid $background-color;
      .ant-card-body {
        padding: 0;
        margin-top: $base*2;
      }
    }
    .stage {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      color: $primary-color;
      font-family: 'Futura';
      padding: $base*2 $base*2 $base*2 0;
      background-color: $light-color;
      &.period {
        color: $fifth-color;
      }
      p {
        margin: $base 0 0 0;
        font-size: 16px;
      }
      .anticon {
        margin: $base 0 0 $base;
      }
    }
    .ant-divider-horizontal {
      margin: 0;
      background-color: transparent;
    }
    .card {
      padding: $base*2 $base*3 $base*4 $base*3;
      text-align: left;
      margin: 0;
      font-family: 'Futura-Medium';
      background-color: $light-color;
      color: $six-color;
      position: relative;
      border: none;
      h4 {
        color: $six-color;
        font-size: 29px;
        line-height: 24px;
        margin-bottom: $base*2;
      }
      p {
        font-size: 16px;
        line-height: 22px;
        margin: 0;
        width: 90%;
        opacity: 0.8;
      }
      a {
        text-align: right;
        font-size: 20px;
        color: $six-color;
        position: absolute;
        right: $base*3;
        bottom: $base*4;
      }
    }
    .subtitle {
      color: $six-color;
      margin: $base*3 $base*2;
    }
  }
}

@media screen and (max-width: 599px) {
  .home-container { 
    .content {
      width: 100%;
    }
  }
}