@import '../../variables';

.home-container {
  .ant-card-bordered {
    background-color: $background-color;
    border: none;
    .ant-card-body {
      padding: $base*2 $base*2 0 $base*2;
    }
  }
  .stage {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: $secondary-color;
    font-weight: 700;
    p {
      margin: 0 0 0 10px;
    }
  }
  .card {
    padding: $base*2;
    text-align: left;
    margin: $base*2 0;
    font-family: 'Futura-Medium';
    color: $primary-color;
    position: relative;
    h4 {
      color: $primary-color;
      font-size: 29px;
      line-height: 24px;
      margin-bottom: $base*3;
    }
    p {
      font-size: 15px;
      line-height: 22px;
      margin: 0;
    }
    a {
      text-align: right;
      font-size: 20px;
      color: $primary-color;
      position: absolute;
      right: $base*2;
      bottom: $base*2;
    }
  }
}

.react-calendar {
  border: 0!important;
  margin: 20px 0 0 5px;
  font-size: 20px;
  .react-calendar__navigation {
    .react-calendar__navigation__label {
      text-transform: uppercase;
    }
    .react-calendar__navigation__next2-button, .react-calendar__navigation__prev2-button {
      display: none;
    }
  }
}