@import '../../variables';

.header {
  .navbar {
    padding: 0;
  }
  .logo {
    color: transparent;
    background-image: url('../../images/logo.png');
    background-size: contain;
    width: 150px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .link-button {
    background: $tertiary-color;
    border-radius: 4px;
    font-size: 12px;
    text-align: center;
    padding: 10px;
    border: none;
    font-family: 'Futura';
    cursor: pointer;
    outline: none;
    min-width: $base*6;
    color: $light-color;
    font-weight: 700;
  }
}