@import '../../variables';

.header-logo {
  background-color: $primary-color;
  padding: $base;
  .logo {
    color: transparent;
    background-image: url('../../images/logo.png');
    background-size: contain;
    width: 150px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.header-logo-web {
  display: flex;
  justify-content: center;
  padding: 0 $base*2;
  .logo-web {
    color: transparent;
    background-image: url('../../images/logo-blanco.png');
    background-size: contain;
    width: 300px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
  }
}