@import '../../variables';

.container-register {
  background-color: $primary-color;
  font-family: 'Futura';
  padding: $base*2 $base*4 $base*20 $base*4;
  height: 100vh;
  h1 {
    color: $light-color;
    font-family: 'Futura-Bold';
    text-align: left;
    margin: $base*8 0 $base*2 0;
  }
  p {
    color: $light-color;
    text-align: left;
    margin-bottom: $base*4;
  }
  form {
    input {
      margin-bottom: $base*3;
    }
  } 
  .conditions {
    display: flex;
    align-items: baseline;
    a {
      color: $light-color;
      text-decoration: underline;
    }
  }
}