@import '../../variables';

.container-register {
  font-family: 'Futura';
  padding: $base*2 $base*4 $base*20 $base*4;
  font-size: 18px;
  background-color: $primary-color;
  color: $light-color;
  h1 {
    font-family: 'Futura-Bold';
    color: $light-color;
    text-align: left;
    margin: $base*4 0 $base*4 0;
  }
  p {
    text-align: left;
  }
  form {
    input {
      margin-bottom: $base*3;
    }
  }
  .conditions {
    display: flex;
    align-items: baseline;
    font-size: 16px;
    a {
      color: $light-color;
      text-decoration: underline;
    }
  }
}

.container-register-step2 {
  padding: $base*2 $base*4 $base*20 $base*4;
  color: $primary-color;
  text-align: left;
  h1 {
    font-family: 'Futura-Bold';
    color: $primary-color;
    margin: $base 0 $base*4 0;
    font-size: 36px;
  }
  p {
    color: $primary-color;
    text-align: left;
    font-size: 16px;
  }
  .email {
    margin-bottom: $base*8;
  }
}