@import '../../variables';

.container-login {
  background-color: $primary-color;
  font-family: 'Futura';
  padding: $base*2 $base*4 $base*10 $base*4;
  h1 {
    color: $light-color;
    font-family: 'Futura-Bold';
    text-align: left;
    margin: $base*8 0 $base*2 0;
  }
  form {
    margin-top: $base*6;
    width: 100%;
    .password {
      text-align: right;
      margin-bottom: $base*4;
      a {
        color: $light-color;
        text-decoration: underline;
      }
    }
    button {
      background: $tertiary-color;
      border-radius: 4px;
      font-size: 12px;
      text-align: center;
      padding: 10px;
      border: none;
      font-family: 'Futura';
      cursor: pointer;
      outline: none;
      span {
        font-size: 16px;
      }
    }
  }
}

.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
  border-color: transparent!important;
  border-right-width: 0 !important;
  box-shadow: none;
}

.ant-input-affix-wrapper .ant-input:not(:last-child) {
  border: none;
}