@import '../../variables';

.background {
  background-color: $primary-color;
}
.container-onboarding {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: $primary-color;
  color: $light-color;
  height: 100vh;
  width: 50%;
  margin: auto;
  .subtitle {
    margin: $base*8 0 $base*4 0;
    font-weight: 700;
    font-size: 20px;
    &.calendar {
      margin: $base*3 0;
    }
  }
  input, .ant-select {
    width: 50%!important;
  }
  p {
    font-size: 18px;
  }
  form input {
    margin-bottom: $base*3;
  }
  .button-onboarding {
    background-color: $fifth-color;
    color: $light-color;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: $base*4;
    &.select {
      margin-top: $base*8;
    }
  }
  .link-onboarding {
    background-color: $fifth-color;
    color: $light-color;
    padding: $base 0;
    border-radius: 4px;
    width: 80%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .container-onboarding { 
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .container-onboarding { 
    width: 100%;
  }
}