$base : 8px;

body {
  font-family: 'Futura';
  p {
    font-size: 18px;
  }
}

// COLORS
$primary-color: #9CD9D3;
$secondary-color: #F4CC70;
$tertiary-color: #DE7A22;
$quarter-color: #20bbac;
$fifth-color: #FF0077;
$six-color: #072146;
$light-color: #ffffff;
$background-color: #EEF0F3;
$border-color: #bfbfbf;
$footer-color: #011E31;

.error {
  color:rgb(198, 47, 47);
}

// FONT & SIZE


// MARGIN & PADDING
.my-1 {
  margin: $base 0;
}

.my-2 {
  margin: $base*2 0;
}

.my-3 {
  margin: $base*3 0;
}

.mb-1 {
  margin-bottom: $base;
}

.mb-2 {
  margin-bottom: $base*2;
}

.mb-3 {
  margin-bottom: $base*3;
}

.mt-1 {
  margin-top: $base;
}

.mt-2 {
  margin-top: $base*2;
}

.mt-3 {
  margin-top: $base*3;
}

.ml-3 {
  margin-left: $base*3;
}

// BUTTON AND LINKS
.link {
  margin: $base*5 0;
  background: $fifth-color;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
  padding: $base 0;
  border: none;
  font-family: 'Futura';
  cursor: pointer;
  outline: none;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  a, span {
    color: $light-color;
    font-size: 16px;
  }
}

button, a, input::placeholder {
  font-family: 'Futura';
}

a {
  color: $fifth-color;
  &:hover, &:active {
    color: $fifth-color;
  }
}

// GLOBAL CSS
.ant-btn {
  text-transform: uppercase;
  background-color: $fifth-color;
  color: $light-color;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-btn:hover {
  background-color: $fifth-color;
  color: $light-color;
}

.ant-btn-disabled, .ant-btn[disabled] , .ant-btn[disabled]:hover {
  background-color: $fifth-color!important;
  color: $light-color!important;
  opacity: 0.5;
}

.form-control {
  min-height: 42px;
  &.is-invalid {
    background-image: none;
  }
  .invalid-feedback {
    font-size: 14px;
    margin-top: 0;
  }
}

.ant-page-header {
  background: $primary-color;
  color: $light-color;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    color: $light-color;
    font-size: 20px;
  }
  .ant-page-header-back-icon {
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
    svg {
      width: 25px;
      height: 25px;
    }
  }
  .ant-divider {
    display: none;
  }
}

.ant-switch-checked {
  background-color: $fifth-color;
}

.ant-tabs-bar {
  margin: 0;
  background-color: $light-color;
  border-bottom: none;
  .ant-tabs-nav {
    color: $six-color;
  }
  .ant-tabs-tab {
    margin: 0 $base*2 0 0;
    padding-bottom: $base*2.8;
    font-size: 20px;
  }
  .ant-tabs-nav-wrap {
    height: 65px;
  }
  .ant-tabs-nav-container {
    font-size: 22px;
    .ant-tabs-tab-active.ant-tabs-tab, .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
      color: $six-color;
    }
    .ant-tabs-ink-bar {
      background-color: $six-color;
    }
  }
}

.react-calendar {
  font-family: 'Futura';
  background-color: $light-color;
  border-radius: 4px;
  color: $primary-color;
  border: 0!important;
  margin: 0;
  width: 100%;
  font-size: 20px;
  padding-bottom: $base*2;
  button {
    color: $six-color;
  }
  button.react-calendar__navigation__label {
    color: $six-color;
  }
  button.react-calendar__navigation__arrow {
    font-size: 40px;
    margin-bottom: $base;
    color: $fifth-color;
  }
  .react-calendar__navigation {
    background-color: $background-color;
    height: 65px;
    .react-calendar__navigation__label {
      text-transform: uppercase;
    }
    .react-calendar__navigation__next2-button, .react-calendar__navigation__prev2-button {
      display: none;
    }
  }
  .react-calendar__navigation button:enabled:hover {
    background-color: $background-color;
  }
  .react-calendar__tile:enabled:hover {
    border-radius: 50%;
  }
  .react-calendar__month-view__weekdays {
    font-family: 'Futura';
    font-weight: 100;
  }
  abbr[title] {
    text-decoration: none;
  }
  .react-calendar__month-view__days__day--weekend, .react-calendar__month-view__days__day--neighboringMonth {
    color: $six-color;
  }
  .react-calendar__tile--active {
    background-color: $fifth-color!important;
    color: $light-color;
    border-radius: 50%;
  }
}

.ant-alert-success {
  background-color: #20948b42;
  border: 1px solid $footer-color;
  .ant-alert-icon {
    color: $footer-color;
  }
}