$base : 8px; 

// COLORS
$primary-color: #072146;
$secondary-color: #5AC4C4;
$tertiary-color: #FF3F7E;
$light-color: #ffffff;
$background-color: #EEF0F3;
$border-color: #bfbfbf;
$footer-color: #061529;

.error {
  color:rgb(198, 47, 47);
}

// FONT & SIZE


// MARGIN & PADDING
.my-1 {
  margin: $base 0;
}

.my-2 {
  margin: $base*2 0;
}

.my-3 {
  margin: $base*3 0;
}

.mb-1 {
  margin-bottom: $base;
}

.mb-2 {
  margin-bottom: $base*2;
}

.mb-3 {
  margin-bottom: $base*3;
}

.mt-1 {
  margin-top: $base;
}

.mt-2 {
  margin-top: $base*2;
}

.mt-3 {
  margin-top: $base*3;
}

// GLOBAL CSS
.ant-page-header {
  background: transparent;
  color: $tertiary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    color: $tertiary-color;
  }
  .ant-page-header-back-icon {
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
  }
}

.ant-tabs-nav-container {
  font-size: 22px;
  .ant-tabs-tab-active.ant-tabs-tab, .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
    color: $primary-color;
  }
}